.songList {
    font-family: Helvetica, sans-serif;
    padding-bottom: 5px;
}

.ag-header-cell {
    // justify-content: center;
    background-color: #ff737e;
}

.criteriaContainer {
    text-align: right;
    width: 57.5%;
    // margin: auto;
}

.criteria {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    // font-size: 20px;
}

.criteriaButtons {
    // margin: auto;
    // width: 50%;
    text-align: center;
}

.buttons {
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ff737e;
    color: white;
    border: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

.backButton {
    color: #ff737e;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    width: 100px;
    outline: none;
    border: 0px;
    float: left;
}

.createPlaylist {
    width: 150px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0px;
    float: right;
}

// .mat-radio-button {
//     border-style: none;
// }

.mat-radio-button:nth-child(1){
    margin-right: 20px;
}

:host ::ng-deep .mat-radio-label-content {
    font-size: 28px;
}

h1 {
    text-align: center;
    color: #ff737e;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 40px;
    margin: 20px;
}