<div class="container">
    <div class="criteriaContainer">
        <div class="criteria">
            <span>Happiness:</span>
            <mat-radio-group>
                <mat-radio-button value="1">😄</mat-radio-button>
                <mat-radio-button value="2">😭</mat-radio-button>
            </mat-radio-group>
            <br />
            <span>Energy:</span>
            <mat-radio-group>
                <mat-radio-button value="1">🐇</mat-radio-button>
                <mat-radio-button value="2">🐢</mat-radio-button>
            </mat-radio-group>
            <br />
            <span>Loudness:</span>
            <mat-radio-group>
                <mat-radio-button value="1">💥</mat-radio-button>
                <mat-radio-button value="2">💤</mat-radio-button>
            </mat-radio-group>
            <br />
        </div>
    </div>
</div>


<br />
<button (click)="backToHome()">Back</button>
<button (click)="createPlaylist()">Create Playlist</button>
<br />
<ag-grid-angular style="width: 1425px; height: 625px;" class="ag-theme-alpine" [rowData]="rowData"
    [columnDefs]="columnDefs" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)" [suppressCellSelection]=true>
</ag-grid-angular>