<p>now-playing works!</p>
<button (click)="backToHome()">Back</button>
<button (click)="createPlaylist()">Create Playlist</button>
<button (click)="getFilterModel()">Get Filter Model</button>
<br />
<ag-grid-angular
    style="width: 1425px; height: 625px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged()"
    (gridReady)="onGridReady($event)"
    [suppressCellSelection]=true
    >
</ag-grid-angular>