<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<div class='view'>
    <div class='title'>
        <h1>Song Sift</h1>
    </div>
    <div class="text">
        <p><b>Song Sift</b> is an application that grabs all of the songs
            in your library and lets you sort and filter them to create
            playlists</p>
        <br />
        <p>For every song in Spotify's library, there is a list of 
            attributes used to characterize the song, including:</p>
            <ul>
                <li><b>Energy</b> (from 0.0 &nbsp;–&nbsp; 1.0)</li>
                <li><b>Happiness</b> (from 0.0 &nbsp;–&nbsp; 1.0)</li>
                <li><b>Danceability</b> (from 0.0 &nbsp;–&nbsp; 1.0)</li>
                <li><b>Loudness</b> (from -60.0 &nbsp;–&nbsp; 0.0)</li>
            </ul>
        <br />
        <p><b>Song Sift</b> lets you sort and filter your songs by these
            attributes and export them directly into a Spotify playlist</p>
    </div>
    <br />
    <button (click)="loginButtonClicked()" class="centerButton">Login to Spotify</button>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="footer">
        <h4>Developed by Lou DiMuro</h4>
        <h4>May 1, 2020</h4>
    </div>
</div>