<div class='view'>
    <div class='title'>
        <h1>Song Sift</h1>
    </div>
    <br />
    <h3 class="center">TEMPO (BPM)</h3>
    <div class="centerDiv tempo">
        <input type="radio" name="tempo" value="ONE" id="tempo1">
        <label class="role" for="tempo1">1</label>
        <input type="radio" name="tempo" value="TWO" id="tempo2">
        <label class="role" for="tempo2">2</label>
        <input type="radio" name="tempo" value="THREE" id="tempo3">
        <label class="role" for="tempo3">3</label>
        <input type="radio" name="tempo" value="FOUR" id="tempo4">
        <label class="role" for="tempo4">4</label>
        <input type="radio" name="tempo" value="FIVE" id="tempo5">
        <label class="role" for="tempo5">5</label>
    </div>
    <br />
    <br />
    <h3 class="center">DANCEABILITY</h3>
    <div class="centerDiv danceability">
        <input type="radio" name="danceability" value="ONE" id="one">
        <label class="role" for="one">1</label>
        <input type="radio" name="danceability" value="TWO" id="two">
        <label class="role" for="two">2</label>
        <input type="radio" name="danceability" value="THREE" id="three">
        <label class="role" for="three">3</label>
        <input type="radio" name="danceability" value="FOUR" id="four">
        <label class="role" for="four">4</label>
        <input type="radio" name="danceability" value="FIVE" id="five">
        <label class="role" for="five">5</label>
    </div>
    <br />
    <br />
    <h3 class="center">HAPPINESS</h3>
    <div class="centerDiv happiness">
        <input type="radio" name="happiness" value="ONE" id="one">
        <label class="role" for="one">1</label>
        <input type="radio" name="happiness" value="TWO" id="two">
        <label class="role" for="two">2</label>
        <input type="radio" name="happiness" value="THREE" id="three">
        <label class="role" for="three">3</label>
        <input type="radio" name="happiness" value="FOUR" id="four">
        <label class="role" for="four">4</label>
        <input type="radio" name="happiness" value="FIVE" id="five">
        <label class="role" for="five">5</label>
    </div>
    <br />
    <br />
    <h3 class="center">ENERGY</h3>
    <div class="centerDiv energy">
        <input type="radio" name="energy" value="ONE" id="one">
        <label class="role" for="one">1</label>
        <input type="radio" name="energy" value="TWO" id="two">
        <label class="role" for="two">2</label>
        <input type="radio" name="energy" value="THREE" id="three">
        <label class="role" for="three">3</label>
        <input type="radio" name="energy" value="FOUR" id="four">
        <label class="role" for="four">4</label>
        <input type="radio" name="energy" value="FIVE" id="five">
        <label class="role" for="five">5</label>
    </div>
    <br />
    <br />
    <button class="centerButton">Generate Playlists</button>


    <!-- <label id="example-radio-group-label">Pick your favorite season</label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
        </mat-radio-button>
    </mat-radio-group> -->
</div>