h1 {
    text-align: center;
    color: #ff737e;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 40px;
    margin: 20px;
}

.view {
    // background-color: blue;
    font-family: Helvetica, sans-serif;
}

.centerButton {
    display: block;
    margin: auto;
    padding: 10px 50px;
    background-color: #ff737e;
    color: white;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: 0px;
    border-radius: 20px;
}

button:focus {
    background-color: #ff4756;
}

.text {
    width: 40%;
    margin: 0 auto;
    // color: #ff4756;
}

ul {
    margin: 0 auto;
    display: table;
}

.footer {
    text-align: center;
    color: #ff4756;
    font-weight: bold;
}

h4 {
    font-size: 14px;
}

